
body {
    margin: 0;
    padding: 0;
}

main {
    background-image: url(imagenes/fondo.jpg);
}

* {
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
    
  }

.centro {
    overflow: auto;
}

.header-superior {
    background-color: rgb(23, 23, 23);
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.header-inferior {
    text-align: center;
    background-color: rgb(62, 62, 62);
}

.texto-opcion {
    width: 25%;
    float: left;
}

.opcion {
    font-size: calc(0.5rem + 1.3vw);
    text-decoration: none;
 }

.section-inicio {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    background-color: rgb(23, 23, 23);
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.a-opcion {
    text-decoration: None;
    color: rgb(255, 255, 255);
}

.a-opcion:hover {
    color: rgb(255, 255, 255);
    border-bottom: 0.1px solid rgb(255, 255, 255);
}

@media only screen and (max-width: 767px) {

    .texto-opcion {
        width: 100%;
        font-size: calc(1rem + 1vw);
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    .section-inicio {
        width: 100%;
    }

    .logo {
        max-width: 70%;
    }
}